h1{
  font-size: 50px;
  color: orange;
  background-color: green ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
  font-weight: bold;
  background-color: aqua;
}

h2{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: darkblue;
}
